 <%# 全体 %>
<div class="wrapper">
  
<%# 左サイド %>
  <div class="sidebar">
    <div class="sidetop">
      <div class="sidetop-cover">
        <a class="user-logo">
          <%= image_tag 'back', class:'logo'%>
        </a>
        <a class="mypage"><%= @user.username %>のマイページ</a>
      </div>
    </div>
    <div class="sidedown">
      <ul class="nav navbar-nav">
        <li>
        <%# <a class="nav-item active" href="#"><i class="icon"></i>登録者一覧</a> %>
        <%= link_to root_path, class: "nav-item active" do %>
          <i class="icon"></i> 登録者一覧
        <% end %>
        </li>
        <li class="dropdown"><a class="nav-item dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon"></i>アクセス回数</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">日別アクセス回数</a>
          <%# <%= link_to "日別アクセス回数", user_path(@user.id), class:"dropdown-item" %> 
          <a class="dropdown-item" href="#">月別アクセス回数</a>
        </div>
        </li>
        <li class="dropdown"><a class="nav-item dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon"></i>ポイント管理</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%# <%= link_to "日別合計ポイント", points_path, class:"dropdown-item" %> %>
            <%# <%= link_to "月別合計ポイント", points_path, class:"dropdown-item" %> %>
        </div>
        </li>
        <%# <li class="dropdown"><a class="nav-item" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon"></i>修正</a></li>  %>
        <li>
        <%= link_to edit_user_registration_path, class: "nav-item" do %>
          <i class="icon"></i>修正
        <% end    %>
        </li>
      </ul>
    </div>
  </div>
  <%# メイン %>
  

  <div class="main-box">
    <nav class="navbar">
      <div class="register"><strong>閲覧数:</strong>
        <%= @user.impressions_count %></div>
          <div class="devise">
            <div class="logout">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "log" %>
            </div>
          </div>
        
      
      <%= form_tag(users_path, :method => 'get', class: "form-inline" ) do %>
          <%= text_field_tag :search, "", {class: "form-control mr-sm-2"} %>
          <%= submit_tag 'Search', class: "btn btn-outline-success my-2 my-sm-0" %>
        <% end %>


      
    </nav>
    <div class="main-content">
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <tbody class="thead-dark">
              <tr>
                <th scope="col" class="t-title">ID</th>
                <th scope="col" class="t-title">氏名</th>
                <th scope="col" class="t-title">ポイント数</th>
                <th scope="col" class="t-title">email</th>
                <th scope="col" class="t-title">登録日時
              </tr>
              <tr>
                <td class="t-date"><%= @user.id %></td>
                <td class="t-date">
                <%= link_to edit_user_registration_path, class: "db-update" do %>
                <%= @user.username %>
                <% end    %>
                </td>
                <td class="t-date"><%= @user.created_at.to_s(:datetime) %></td>
                <td class="t-date"><%= @user.email %></td>
                <td class="t-date"><%= @user.created_at.to_s(:datetime) %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
</div>