 <%# 全体 %>
<div class="wrapper">
  
<%# 左サイド %>
  <div class="sidebar">
    <div class="sidetop">
      <div class="sidetop-cover">
        <a class="user-logo">
          <%= image_tag 'back', class:'logo'%>
        </a>
        <a class="mypage"><%= @user.username %>のマイページ</a>
      </div>
    </div>
    <div class="sidedown">
    </div>
  </div>
  <%# メイン %>
  <div class="main-box">
    <nav class="navbar">
      <div class="register"><strong>マイページ合計閲覧数:</strong>
        <%= @user.impressions_count %></div>
          <div class="devise">
            <div class="logout">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "log" %>
            </div>
          </div>
        <%= form_tag(users_path, :method => 'get', class: "form-inline" ) do %>
          <%= text_field_tag :search, "", {class: "form-control mr-sm-2"} %>
          <%= submit_tag 'Search', class: "btn btn-outline-success my-2 my-sm-0" %>
        <% end %>
    </nav>
    <div class="main-content">
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <tbody class="thead-dark">
              <tr>
                <th scope="col" class="t-title">ID</th>
                <th scope="col" class="t-title">氏名</th>
                <th scope="col" class="t-title">ポイント数</th>
                <th scope="col" class="t-title">email</th>
                <th scope="col" class="t-title">登録日時
              </tr>
              <tr>
                <td class="t-date"><%= @user.id %></td>
                <td class="t-date">
                <%= @user.username %>
                </td>
                <td class="t-date"><%= @user.points %></td>
                <td class="t-date"><%= @user.email %></td>
                <td class="t-date"><%= @user.created_at.to_s(:datetime) %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>  
</div>