<%# 左サイド %>
  <div class="sidebar">
    <div class="sidetop">
      <div class="sidetop-cover">
        <a class="user-logo">
          <%= image_tag 'back', class:'logo'%>
        </a>
        <a class="user">管理者画面</a>
      </div>
    </div>
    <div class="sidedown">
      <ul class="nav navbar-nav">
        <li>
        <%# <a class="nav-item active" href="#"><i class="icon"></i>登録者一覧</a> %>
        <%= link_to root_path, class: "nav-item active" do %>
          <i class="icon"></i> 登録者一覧
        <% end %>
        </li>
        <li class="dropdown"><a class="nav-item dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon"></i>アクセス回数</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%# <a class="dropdown-item" href="#">日別アクセス回数</a> %>
          <%= link_to "日別アクセス回数", user_path(:id), class:"dropdown-item" %>
          <a class="dropdown-item" href="#">月別アクセス回数</a>
        </div>
        </li>
        <li class="dropdown"><a class="nav-item dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon"></i>ポイント管理</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "日別合計ポイント", points_path, class:"dropdown-item" %>
            <%= link_to "月別合計ポイント", points_path, class:"dropdown-item" %>
        </div>
        </li>
        <%# <li class="dropdown"><a class="nav-item" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon"></i>修正</a></li>  %>
        <li>
        <%= link_to edit_user_registration_path, class: "nav-item" do %>
          <i class="icon"></i>修正
        <% end    %>
        </li>
      </ul>
    </div>
  </div>
  <%# メイン %>
  

  