<%# 左サイド %>
  <div class="sidebar">
    <div class="sidetop">
      <div class="sidetop-cover">
        <a class="user-logo">
          <%= image_tag 'back', class:'logo'%>
        </a>
        <a class="user">管理者画面</a>
      </div>
    </div>
    <div class="sidedown">
      <ul class="nav navbar-nav">
        <li>
        <%= link_to root_path, class: "nav-item active" do %>
          <i class="icon"></i> 登録者一覧
        <% end %>
        </li>
        <li class="dropdown"><a class="nav-item dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon"></i>アクセス回数</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "日別アクセス回数", day_count_impressions_path, class:"dropdown-item" %>
          <%= link_to "月別アクセス回数", month_count_impressions_path, class:"dropdown-item" %>
        </div>
        </li>
        <li class="dropdown"><a class="nav-item dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon"></i>ポイント管理</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "日別合計ポイント",  day_point_user_points_path, class:"dropdown-item"%>
            <%= link_to "月別合計ポイント",  month_point_user_points_path, class:"dropdown-item"%>  
        </div>
        </li>
        <li>
        <%= link_to search_users_path, class: "nav-item active" do %>
          <i class="icon"></i> 条件検索
        <% end %>
        </li>
      </ul>
    </div>
  </div>
  

  